{% extends 'layout.html' %}

{% block body %}
<section id="middle">
    <div class="container">
  <div class="row justify-content-center">
    <div class="col col-sm-6">
       <p>



     {% for item in myframe1 %}
    <h3>Problem: {{item}}</h3>
     {% endfor %}
       </p>
    </div>
    <div class="col col-sm-6">
     <p>
        {% for item in myframe2 %}
    <h3>Count: {{item|striptags|title}}</h3>
         {% endfor %}
    </p>
      </div>
  
    </div>
  </div>
  </section>
    </div>
{% endblock %}