<!DOCTYPE html>
<html>
<head>
	<title>Environmental News Organizer</title>

	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="http://celinmay.com/projekt.css">

</head>
<body>
    {% include 'includes/_navbar.html' %}
    {% block body%}{% endblock %}

    <script type="text/javascript" src="/projekt.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<script>
	$('#GB').click(function() {
		$('#england').show();
	  });</script>
</body>
</html>